body{
    background-image: url('sky.jpg');
    height: 100%;
    width: 100%;
    margin: 0;
}

.mainIHM{
    border-radius: 0.5vw;
    border-top: 0.4vw solid rgb(43, 81, 121);
    text-shadow: 0.2vw 0 rgba(87, 86, 86,0.5);
    color: white;
    display:block;
    background-color: rgb(26, 50, 75);
    width: 85%;
    height: 96%;
    margin-left: 7.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.mainIHM h1{
    font-size: 2vw;
    margin-left:3%;
}

.lists{
    display:flex;
    margin-bottom: 2%;
    height: 95%;
}

.listHeader{
    display: flex;
    background-color: rgb(54, 87, 122);
    border-radius: 0.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 100%;
    height: 2.5vw;
    box-sizing: border-box;
    justify-content: space-between;
}

.listHeader h2{
    padding-left: 2%;
    font-size: 1.4vw;
    margin: 0;
}

.listHeader button{
    width: 3.2%;
    border-radius: 50vw;
    padding: 0;
    font-size: 0.9vw;
    font-weight: bold;
    border: 0.2vw solid gray;
    cursor: pointer;
}

.mainList{
    background-color: rgb(43, 81, 121);
    border-radius: 0.5vw;
    border-top: 0.2vw solid rgb(54, 87, 122);
    width:72.5%;
    height: 100%;
    margin-right: 2.5%;
}

.announcement{
    width: 100%;
    text-align: center;
    font-size: 1vw;
}

.charElement{
    display: flex;
    height: 13vw;
    width: 98%;
    border: 0.4vw solid rgb(100, 134, 170);
    border-radius: 0.5vw;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 0.75%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.charElement img{
    border-top-left-radius: 0.4vw;
    border-bottom-left-radius: 0.4vw;
    border-right: 0.2vw solid rgb(100, 134, 170);
    width: 20%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.charBox{
    width: 80%;
}

.charInfo{
    display:block;
    width:100%;
    height: 80%;
}

.charInfoName{
    overflow:hidden;
    font-size: 1.1vw !important;
    font-weight: bold;
    color: white;
    padding-left: 1.5%;
    padding-bottom: 0.7%;
    background-color: rgb(100, 134, 170);
    height: 25%;
    box-sizing: border-box;
}

.charInfoName p{
    height:auto;
    margin: 0;
    margin-top: 0.5% !important;
    font-size: 1.0vw;
}

.charInfoDesc{
    overflow:hidden;
    height: 75%;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 0.5%;
    word-break: break-all;
}

.charInfoDesc p{
    height:100%;
    margin: 0;
    font-size: 0.8vw;

}

.charButtons{
    display:flex;
    width:100%;
    height: 20%;
}

.charButtons form{
    display: flex;
    width: 25%;
    height: 100%;
}

.charDelete{
    background-color: rgb(143, 6, 6);
    color: white;
    border-top: 0.2vw solid rgb(100, 134, 170) !important;
    border: 0;
    border-bottom-right-radius: 0.4vw;
    width: 100%;
    height: 100%;
    font-size: 1.0vw;
    font-weight: bold;
    cursor: pointer;
}

.charView{
    background-color: rgb(218, 235, 236);
    color: black;
    border-top: 0.2vw solid rgb(100, 134, 170) !important;
    border: 0;
    border-radius: 0;
    width: 75%;
    height: 100%;
    font-size: 1.0vw;
    font-weight: bold;
    cursor: pointer;
}

.charView :hover{
    background-color: rgb(118, 164, 202);
}

.quickList{
    border-radius: 0.4vw;
    border-top: 0.2vw solid rgb(54, 87, 122);
    background-color: rgb(43, 81, 121);
    width:20%;
    height: 96%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.quickListElement{
    overflow: hidden;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    width: 85%;
    height: 1.4vw;
}

.quickListElement a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.quickListElement p{
    font-size: 0.9vw;
    margin: 0;
    word-break: break-all;
    color: rgb(142, 218, 253);
    text-shadow: 0.2vw 0 rgba(87, 86, 86,0.5);
}

.newCharIHM{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: visible;
}

.newCharForm{
    text-shadow: 0.2vw 0 rgba(87, 86, 86, 0.2);
    color: white;
    background-color: rgb(43, 81, 121);
    border-radius: 1vw;
    border-top: 0.2vw solid rgb(54, 87, 122);
    width: 25%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 37.5%;
    padding-left: 0.75%;
    padding-top:1%;
}

.newCharForm p{
    font-size: 0.8vw;
    font-weight: bold;
    width: 100%;
    height: 5%;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.newCharForm h2{
    height: 7%;
    margin: 0;
    font-size: 1.2vw;
    text-align: center;
}

#newCharName{
    width:95%;
    height: 8%;
    margin-bottom: 1%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: 0.15vw solid gray;
    padding: 1%;
    font-size: 0.8vw;
    cursor: pointer;
}

#newCharDesc{
    width: 95%;
    height: 40%;
    margin-bottom: 1%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: 0.15vw solid gray;
    padding: 1%;
    font-size: 0.8vw;
}

#newCharFile{
    display: none;
}

.newCharFileLabel{
    font-size: 0.9vw;
    width: 100%;
    height: 5%;
    margin:0;
    border: 0.15vw solid gray;
    border-radius: 1vw;
    padding: 2%;
    margin-top:5%;
    color: rgb(63, 63, 63);
    background-color: white;
    text-shadow: none;
    cursor: pointer;
}

#newCharSubmit{
    color: white;
    font-size: 0.9vw;
    text-shadow: 0.2vw 0 rgba(10, 10, 10, 0.3);
    width: 40%;
    height: 7%;
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 4%;
    border-radius: 0.5vw;
    background-color: rgb(118, 164, 202);
    border: 0.05vw solid white;
    cursor: pointer;
}

textarea {
   resize: none;
   border: 0.15vw solid gray;
   cursor: pointer;
}
  
.warningDelChar{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: visible;
}

.warningContent{
    display:block;
    text-shadow: 0.2vw 0.2vw rgb(87, 86, 86);
    color: white;
    background-color: rgb(54, 87, 122);
    border-radius: 5%;
    width: 30%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 35%;
    padding-top:1%;
}

.warningTitle{
    height: 60%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.warningTitle h2{
    width: 100%;
    font-size: 1.2vw;
    margin: 0;
    text-align: center;
    margin-bottom: 2%;
}

.warningTitle p{
    width: 100%;
    font-size: 0.9vw;
    margin: 0;
}

.warningButtons{
    display: flex;
    background-color: rgb(43, 81, 121);
    height: 40%;
    width: 100%;
    border-radius: 5%;
}

.warningButtons button{
    width: 30%;
    margin-left:10%;
    margin-right:10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    height: 70%;
    font-size: 1vw;
    font-weight: bold;
    border: 0;
    border-radius: 5%;
    cursor: pointer;
}

#warningConfirm{
    background-color: rgb(143, 6, 6);
    color: white;
}