body{
    background-image: url('sky.jpg');
    height: 100%;
    width: 100%;
    margin: 0;
}

.mainIHM{
    border-radius: 0.5vw;
    border-top: 0.4vw solid rgb(43, 81, 121);
    box-sizing: border-box;
    text-shadow: 0.2vw 0 rgba(87, 86, 86,0.5);
    color: white;
    display:block;
    background-color: rgb(26, 50, 75);
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

.mainIHM h1{
    font-size: 2vw;
    margin-left:3%;
}


.navBar{
    display: block;
    background-color: rgb(100, 134, 170);
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-top: 0.2vw solid rgb(255, 255, 255);
    box-sizing: border-box;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.7%;
}

.navBarHeader{
    display: flex;
    align-items: center;
    width: 100%;
}

.navBarHeader h2{
    font-size: 1.5vw;
}

.navBarHeader a{
    text-shadow: 0.2vw 0 rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    font-size: 0.9vw;
    padding-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

.navBarHeader button{
    border: 0.1vw  solid rgb(26, 50, 75);
    border-radius: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.9vw;
    width: 2%;
    height: 100%;
    margin-left: auto;
    margin-right: 1%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    cursor: pointer;
}

.navBarContent{
    display: flex;
    width: 100%;
    padding-top: 0.7%;
    padding-left: 0.7%;
    margin-top: 0.2vw;
    border-top: solid 0.2vw white;
    box-sizing: border-box;
}

.navBarContent img{
    width: 20%;
    height: 5%;
    border: solid 0.2vw  white;
    border-radius: 1.2%;
    box-sizing: border-box;
    object-fit: cover;
    margin-right: 0.7%;
}

.navBarContentText{
    width: 77.9%;
}

.navBarContentText h3{
    margin-block-end: 0em;
    margin-block-start: 0.5em;
    font-size: 1.2vw;
}

.navBarContentText p{
    word-break: break-all;
    overflow: hidden;
    font-size: 0.9vw;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.navBar h2{
    margin: 0%;
    margin-left: 1%;
}

.lists{
    display:flex;
    width:98%;
    height: auto;
    padding-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    background-color: rgb(43, 81, 121);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.mainList{
    display: block;
    border-radius: 1%;
    box-sizing: border-box;
    width:70%;
    height: 96%;
    margin-right: 2.5%;
    margin-left:2.5%;
}

.mainList h2{
    font-size: 1.4vw;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
}

.announcement{
    width: 100%;
    text-align: center;
    font-size: 1vw;
}

.listOutfit{
    display: flex;
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    border: 0.4vw solid rgb(111, 168, 230);
    border-radius: 1vw;
    box-sizing: border-box;
    background-color: rgb(129, 189, 253);
}

.listOutfit img{
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-right: 0.4vw solid rgb(111, 168, 230);
    border-top-left-radius: 0.4vw;
    border-bottom-left-radius: 0.4vw;
    box-sizing: border-box;
}

.listOutfitBox{
    width: 75%;
}

.listOutfitHeader{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    height: 20%;
    background-color: rgb(111, 168, 230);
    border-bottom: 0.4vw solid rgb(111, 168, 230);
    box-sizing: border-box;
    border-top-right-radius: 0.4vw;
}

.listOutfitHeader p{
    width: auto;
    margin-left: auto;
    margin: 0;
    font-size: 1.0vw;
    font-weight: bold;
    overflow: hidden;
}

.listOutfitText{
    width: 100%;
    height: 60%;
    padding-left: 1%;
    font-size: 0.8vw;
}   

.listOutfitText p{
    margin: 0;
    width:100%;
    word-break: break-all;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    margin-left: 0.6%;
    margin-top: 0.5%;
}

.listOutfitButtons{
    width: 100%;
    height: 20%;
    display: flex;
}

.listOutfitButtons form{
    display: flex;
    width: 25%;
    height: 100%;
}

.listOutfitNegative{
    background-color: rgb(143, 6, 6);
    color: white;
    border-top: 0.5vh solid rgb(111, 168, 230) !important;
    border-bottom: 0.7vh solid rgb(111, 168, 230) !important;
    border: 0;
    border-bottom-right-radius: 0.4vw;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.0vw;
    font-weight: bold;
    cursor: pointer;
}

.listOutfitPositive{
    background-color: rgb(218, 235, 236);
    color: black;
    border-top: 0.5vh solid rgb(111, 168, 230) !important;
    border-right: 0.3vw solid rgb(111, 168, 230) !important;
    border-bottom: 0.7vh solid rgb(111, 168, 230) !important;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    font-size: 1.0vw;
    font-weight: bold;
    cursor: pointer;
}



.quickList{
    border-radius: 0.4vw;
    box-sizing: border-box;
    background-color: rgb(111, 168, 230);
    width:20%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
}

.quickListHeader{
    display: flex;
    background-color: rgb(54, 87, 122);
    border-radius: 0.3vw;
    padding: 5%;
    width: 100%;
    height: 3%;
    box-sizing: border-box;
}

.quickListHeader h2{
    color: white;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 1.4vw;
    padding-left:5%;
    width: 90%;
}

.quickListElement{
    overflow: hidden;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 1%;
    width: 85%;
    height: 10%;
}

.quickListElement a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;

}

.quickListElement p{
    font-size: 0.8vw;
    margin: 0;
    word-break: break-all;
    color:white;
    text-shadow: 0.2vw 0 rgba(87, 86, 86,0.5);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.newOutfitIHM{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: visible;
}

.newOutfitForm{
    text-shadow: 0.2vw 0 rgba(87, 86, 86, 0.2);
    color: white;
    background-color: rgb(43, 81, 121);
    border-radius: 1vw;
    border-top: 0.2vw solid rgb(54, 87, 122);
    width: 25%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 37.5%;
    padding-left: 0.75%;
    padding-top:1%;
}

.newVersionIHM{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: visible;
}

.newVersionForm{
    text-shadow: 0.2vw 0 rgba(87, 86, 86, 0.2);
    color: white;
    background-color: rgb(43, 81, 121);
    border-radius: 1vw;
    border-top: 0.2vw solid rgb(54, 87, 122);
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 37.5%;
    padding-left: 0.75%;
    padding-top:1%;
}

.newOutfitForm p{
    font-size: 0.8vw;
    font-weight: bold;
    width: 100%;
    height: 3%;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.newOutfitForm h2{
    height: 7%;
    margin: 0;
    font-size: 1.2vw;
    text-align: center;
}

.newVersionForm p{
    font-size: 0.8vw;
    font-weight: bold;
    width: 100%;
    height: 3%;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 0.5%;
}

.newVersionForm h2{
    height: 7%;
    margin: 0;
    font-size: 1.2vw;
    text-align: center;
}


#newOutfitName{
    width:95%;
    height: 5%;
    margin-bottom: 1%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: 0.15vw solid gray;
    padding: 1%;
    font-size: 0.8vw;
    cursor: pointer;
}

#newOutfitDesc{
    width: 95%;
    height: 17%;
    margin-bottom: 1%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: 0.15vw solid gray;
    padding: 1%;
    font-size: 0.8vw;
}

#newOutfitFile{
    display: none;
}

.newOutfitFileLabel{
    font-size: 0.9vw;
    width: 100%;
    height: 5%;
    margin:0;
    border: 0.15vw solid gray;
    border-radius: 1vw;
    padding: 2%;
    margin-top:5%;
    color: rgb(63, 63, 63);
    background-color: white;
    text-shadow: none;
    cursor: pointer;
}

#newOutfitSubmit{
    color: white;
    font-size: 0.9vw;
    text-shadow: 0.2vw 0 rgba(10, 10, 10, 0.3);
    width: 40%;
    height: 7%;
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 4%;
    border-radius: 0.5vw;
    background-color: rgb(118, 164, 202);
    border: 0.05vw solid white;
    cursor: pointer;
}
textarea {
   resize: none;
   border: 0.15vw solid gray;
   cursor: pointer;
}

.warningDelOutfit{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: visible;
}

.warningContent{
    display:block;
    text-shadow: 0.2vw 0.2vw rgb(87, 86, 86);
    color: white;
    background-color: rgb(54, 87, 122);
    border-radius: 5%;
    width: 30%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 35%;
    padding-top:1%;
}

.warningTitle{
    height: 60%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.warningTitle h2{
    width: 100%;
    font-size: 1.2vw;
    margin: 0;
    text-align: center;
    margin-bottom: 2%;
}

.warningTitle p{
    width: 100%;
    font-size: 0.9vw;
    margin: 0;
}

.warningButtons{
    display: flex;
    background-color: rgb(43, 81, 121);
    height: 40%;
    width: 100%;
    border-radius: 5%;
}

.warningButtons button{
    width: 30%;
    margin-left:10%;
    margin-right:10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    height: 70%;
    font-size: 1vw;
    font-weight: bold;
    border: 0;
    border-radius: 5%;
    cursor: pointer;
}

#warningConfirm{
    background-color: rgb(143, 6, 6);
    color: white;
}