<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BirdList</title>
    </head>
    <body>
        <div class="mainIHM">
            <h1>BirdList</h1>

            <div class="lists">
                <div class="quickList">
                    <div class="listHeader">
                        <h2>Quick list</h2>
                    </div>
                    <div class="quickListElement" th:each="char : ${listChar}">
                        <a th:href="@{/char/}+${char.getName()}">
                            <p th:text="${char.getName()}"></p>
                        </a>
                    </div>

                    <div class="announcement" th:if="${!anyChar}">
                        <p>No characters!</p>
                    </div>
                </div>

                <div class="mainList">
                    <div class="listHeader">
                        <h2>List of characters</h2>
                        <button th:onclick="displayNewCharForm([[${listChar}]])">+</button>
                    </div>
                    <div>
                        <div class="charElement" th:if="${anyChar}" th:each="char : ${listChar}">
                            <img th:src="@{images/profile/}+${char.getName()}" />
                            <div class="charBox">
                                <div class="charInfo">
                                    <div class="charInfoName">
                                        <p  th:text="${char.getName()}"></p>
                                    </div>
                                    <div class="charInfoDesc">
                                        <p th:text="${char.getDescription()}"></p>
                                    </div>
                                </div>
                                <div class="charButtons">
                                    <button class="charView" th:onclick="document.location.href = [[@{/char/}+${char.getName()}]]">View Outfits</button>
                                    <form id="delChar" action="#" th:action="@{/deleteChar/}+${char.getName()}" th:object="${newChar}" method="post">
                                        <input class="charDelete" type="button" onclick="displayWarning('delChar', 'warningDelChar')" value="Delete"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="announcement" th:if="${!anyChar}">
                        <p>No characters!</p>
                    </div>
                </div>
            </div> 
        </div>

        <div onclick="hideNewCharForm()" class="newCharIHM" id="newCharIHM">
            <form class="newCharForm" action="#" enctype="multipart/form-data" th:action="@{/addChar}" th:object="${newChar}" method="post">
                <h2>Add a new character</h2>
                <p>Name</p> 
                <input required maxlength="255" id="newCharName" type="text" th:field="*{name}" />
                <p>Description</p> 
                <textarea required maxlength="3000" oninput="checksize" id="newCharDesc" type="text" th:field="*{description}" />
                <p>Profile image</p>
                
                <label for="newCharFile" class="newCharFileLabel">Choose a file</label>
                <input id="newCharFile" required type="file" name="profile" accept="image/png, image/jpeg"/><br>
                
                <button id="newCharSubmit" th:onclick="sendNewCharForm([[${listChar}]])">Add</button>
            </form>         
        </div> 

        <div onclick="hideWarning()" class="warningDelChar" id="warningDelChar">
            <div class="warningContent">
                <div class="warningTitle">
                    <h2>Warning</h2>
                    <p>Are you sure you want to delete this character? </br> This includes the character with all it's outfit and versions</p>
                </div>
                <div class="warningButtons">
                    <button id="warningConfirm" onclick="confirmWarning()">Yes</button>
                    <button id="warningDelChar" onclick="hideWarning()">No</button>
                </div>
            </div>
        </div>

        <script>
            var formStorage = null;
            var targetConfirm = null;


            function displayWarning(formName, confirmName){
                targetConfirm = confirmName;
                formStorage = document.getElementById(formName);
                document.getElementById(confirmName).style.display = "block";
            }

            function hideWarning(event){
                event = event || window.event;
                var target = event.target || event.srcElement;

                if(target.id != targetConfirm) {
                    return;
                }

                document.getElementById(targetConfirm).style.display = "none";
                formStorage = null;
            }

            function confirmWarning(){
                formStorage.submit();
            }


            function displayNewCharForm() {
                document.getElementById("newCharIHM").style.display = "block";
            }

            function hideNewCharForm(event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                

                if(target.id != "newCharIHM") {
                    return;
                }

                document.getElementById("newCharIHM").style.display = "none";
            }

            function sendNewCharForm(listChar) {
                var tempForm = document.getElementById("newCharForm");
                for(var i = 0; i < listChar.length; i++) {
                    console.log(listChar[i].name);
                    if(listChar[i].name == document.getElementById("newCharName").value) {
                        alert("Another character has the same name...");
                        return false;
                    }
                }

                listChar = null;
                tempForm.submit();
                tempForm = null;
            }
        </script>
        
    </body>
</html>