<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../outfit.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BirdList</title>
    </head>
    <body>
        <div class="mainIHM">
            <h1>BirdList</h1>

            <div class="navBar">
                <div class="navBarHeader">
                    <a href="/">&larr;</a>
                    <h2 th:text="${charName}">Outfits : </h2>
                    <button onclick="displayNewOutfitForm()">+</button>
                </div>
                <div class="navBarContent">
                    <img th:src="@{../images/profile/}+${charName}" />
                    <div class="navBarContentText">
                        <h3>Character's description</h3>
                        <p th:text="${charDesc}"></p>
                    </div>
                </div>
            </div>

            <div class="lists">
                <div class="quickList">
                    <div class="quickListHeader">
                        <h2>Quick list</h2>
                    </div>
                    <div class="quickListElement" th:each="outfit : ${charOutfits}">
                        <a th:href="@{/version/}+${outfit.getVer_id()}">
                            <p th:text="${outfit.getOut_name()}"></p>
                        </a>
                    </div>
                    <div class="announcement" th:if="${charOutfits.isEmpty()}">
                        <p>No characters!</p>
                    </div>
                </div>
                
                <div class="mainList">
                    <h2>Outfits</h2>
                    <div class="listOutfit" th:each="outfit : ${charOutfits}">
                        <img th:src="@{../images/version/}+${outfit.getVer_id()}" />
                        <div class="listOutfitBox">
                            <div class="listOutfitHeader">
                                <p th:text="${outfit.getOut_name()}"></p>
                                <p th:text="'Date: ' + ${outfit.getVer_date()}"></p>
                            </div>
                            <div class="listOutfitText">
                                <p th:text="${outfit.getVer_desc()}"></p>
                            </div>
                            <div class="listOutfitButtons">
                                <button class="listOutfitPositive">Copy Code</button>
                                <button class="listOutfitPositive">Browse versions</button>
                                <button class="listOutfitNegative">Delete outfit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
        
        <div class="newOutfitIHM" id="newOutfitIHM" onclick="hideNewOutfitForm()">
            <form class="newOutfitForm" action="#" enctype="multipart/form-data" th:action="@{/char/__${charName}__/addOutfit}" th:object="${newOutfit}" method="post">
                <h2>Add a new outfit with its first version</h2>
                <p>Outfit name</p> 
                <input required maxlength="255" id="newOufitName" type="text" th:field="*{out_name}" />
                <p>Description of this first version of the outfit</p> 
                <textarea required maxlength="1000" id="newOutfitDesc" type="text" th:field="*{ver_desc}" />
                <p>Date</p> 
                <input id="newOutfitFile" required type="date" th:field="*{ver_date}"/>
                <p>Code</p> 
                <textarea required maxlength="3000" id="newOutfitDesc" type="text" th:field="*{ver_code}" />
                <p>Image of the outfit</p> 
                <input id="newOutfitFile" required type="file" name="outfit_image" accept="image/png, image/jpeg"/><br>
                <input id="newOutfitSubmit" type="submit" value="Add" />
            </form>         
        </div> 

        <script>
            function displayNewOutfitForm() {
                document.getElementById("newOutfitIHM").style.display = "block";
            }

            function hideNewOutfitForm(event) {
                event = event || window.event;
                var target = event.target || event.srcElement;

                if(target.id != "newOutfitIHM") {
                    return;
                }

                document.getElementById("newOutfitIHM").style.display = "none";
            }
        </script>
    </body>
</html>