@page "/"
@rendermode InteractiveServer

@using Kisekae_Database.Models
@using Kisekae_Database.Processing;

<p>@Erreur</p>

<PageTitle>Database :3</PageTitle>

<script>
    function onOverlay() {
    document.getElementById("addCharacterOverlay").style.display = "block";
    }

    function offOverlay() {
    document.getElementById("addCharacterOverlay").style.display = "none";
    }
</script>

<button class="btn btn-primary" onclick=onOverlay()>+</button><br><br>

<div id="addCharacterOverlay" style="position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2;cursor:pointer;">
    <div style="display:flex;flex-direction:column;background-color:white;width:40%;height:40%;margin-left:30%;margin-top:15%;border-radius:15px;">
        <p hidden=@MessageHidden class="alert alert-danger" style="width:94%;height:20%;margin-left:3%;margin-right:3%;margin-top:2%">@Message</p>
        <h1 style="width:97%;height:17%;padding-left:3%;padding-top:3%">Add a character</h1>
        <input type="text" @oninput="CheckAvailable" placeholder="Character Name" style="width:94%;height:30%;margin-left:3%;margin-right:3%;margin-top:3%;margin-bottom:7%">
        <div style="display:flex;flex-direction:row;width:97%;height:18%;padding-left:3%;padding-top:2%">
            <button class="btn btn-primary" disabled=@(!EnableButton) @onclick=@(()=> AddCharacter()) style="width:42.5%;height:100%;margin-left:5%;margin-right:2.5%;">Add</button>
            <button class="btn btn-primary" onclick=offOverlay() style="width:42.5%;height:100%;margin-right:5%;margin-left:2.5%;">Cancel</button>
        </div>
    </div>
</div>

@if(Characters == null || Characters.Count() == 0){
    <p>No character found...</p>
}else{
    <div class="row">
        @foreach(Character c in Characters){
            <div class="col-4">
                <NavLink class="btn" href="@($"character/{c.Id}")">@c.Name</NavLink>
            </div>
        }
    </div>
}

@code {
    public List<Character>? Characters;
    public string NewCharacterName = "";
    public string Erreur = "";

    //Debug
    public bool EnableButton = true;
    public bool MessageHidden = true;
    public string Message = "";

    protected override void OnInitialized(){
        Characters = DatabaseProcessing.GetCharacters();
    } 


    private void CheckAvailable(ChangeEventArgs ev){
        NewCharacterName = ev.Value?.ToString() ?? string.Empty;
        
        if(Characters == null){
            return;
        }
        
        foreach(Character c in Characters){
            if(c.Name == NewCharacterName){
                EnableButton = false;
                MessageHidden = false;  
                Message = "Nom de projet déjà existant";;
                return;
            }
        }
        EnableButton = true;
        MessageHidden = true;
    }

    private void AddCharacter(){
        if(Characters == null){
            return;
        }

        DatabaseProcessing.AddCharacter(NewCharacterName);
    }
}    
